.done{
    text-decoration: line-through;
 }
 
 .App{
     width: 800px;
     margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
 }